<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
            <form id="form" method="post" action='/data/<%= data.id %>/mode_edit?_method=PUT'>
                <div class="list-group" style='margin-bottom: 5pc;'>
                    <button type="produto_id" class="list-group-item list-group-item-action active" aria-current="true" disabled>
                        /data/<%= data.id %>
                    </button>
                    <input type="input" name="firstname" class="list-group-item list-group-item-action" placeholder="Primeiro nome: <%= data.firstname %>" value="<%= data.firstname %>">
                    <input type="input" name="lastname" class="list-group-item list-group-item-action" placeholder="Segundo nome: <%= data.lastname %>" value="<%= data.lastname %>">
                    <input type="input" name="nickname" class="list-group-item list-group-item-action" placeholder="Nickname: <%= data.nickname %>" value="<%= data.nickname %>">
                    <input type="input" name="address" class="list-group-item list-group-item-action" placeholder="Endereço: <%= data.address %>" value="<%= data.address %>">
                    <textarea type="input" name="bio" class="list-group-item list-group-item-action" placeholder="Bio: <%= data.bio %>" value="<%= data.bio %>"></textarea>
                    <!-- <input type="input" name="dataLancamento" class="list-group-item list-group-item-action" placeholder="Data de criação: <%= data.dataLancamento %>"> -->
                    <button type="input" name="produto_id" class="list-group-item  active"> Confirmar </button>
                </div>
                <input type="hidden" name="_method" value="PUT">
            </form>
            <div class="d-flex justify-content-around bd-highlight mb-3">
                <input
                    class="btn btn-outline-primary p-2 bd-highlight"
                    id="button-addon2"
                    action="action"
                    onclick="window.history.go(-1); return false;"
                    type="submit"
                    value="Voltar"
                />
            </div>
    </div>
</main>

<footer>
    <%- include ../partials/footer %>
</footer>

</body>
</html>