<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../partials/head %>
</head>
<body class="container">

<header>
    <%- include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        
        
        <ul>
            <% data.forEach(function(index){ %>
                <p><%= index.id %></p>
                <p><%= index.firstname %></p>
                <p><%= index.lastname %></p>
                <p><%= index.nickname %></p>
                <p><%= index.address %></p>
                <p><%= index.bio %></p>
                <p style='margin-bottom: 5pc;'><%= index.descricao %></p>
            <% }); %>
        </ul>
        
    </div>
</main>

<footer>
    <%- include ../partials/footer %>
</footer>

</body>
</html>